@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat Alternates', sans-serif;
}
.container{
    background: rgb(140,82,255);
    padding: 15px 0px 10px 20px;
}
/* Navbar code here */
.logo{
    width: 50px;
}
.logo > img{
    width: 100%;
}

.navbar{
    display: flex;
    justify-content: space-between;
}
.ul,.navbar-button{
    margin-top: 10px;
}
.ul>li{
    display: inline;
    padding: 30px;
   
}
.active{
    font-weight: 600 !important;
    color: #ffffff !important;
}
.ul> li>a{
    color: #d0dff1;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
}

.ul>li>a:hover{
    color:rgb(255, 255, 255);
}
.active:hover{
    color: #ffffff !important;
    cursor: default;
}

.navbar-button{
    margin-right: 15px;
   padding-top: px;
}
.navbar-button>button{
    font-size: 14px;    
    padding: 5px;
   border-radius: 0px 5px 5px 0px;  
   border: none;
   color: rgb(140,82,255);
}
.navbar-button>input{
   padding: 3px 5px;
   font-size: 16px;  
   border: 1px solid rgb(140,82,255);
   border-radius: 5px 0px 0px 5px;  
}